/*	Google font Roboto
--------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,900');
/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1.1em;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/*size of the box will include padding and border*/

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*font proporty of the site*/

button, input, select, textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  color: black;
}

/*-----------Headers
-------------------------------*/

h1, h2, h3 {
  color: inherit;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}


/* Link setting
----------------------------------------------*/

a {
  text-decoration: none;
  outline: none;
  color: inherit; /*black*/
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* BOLD
----------------------------------------------*/

strong, b {
  font-weight: 400;
}

/* IMAGES
----------------------------------------------*/

img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* SELECTIONS, PLACEHOLDERS
----------------------------------------------*/

/*Document selection*/

::selection {
  background-color: #282e3e;
  color: #fff;
}

/*Form elements placeholders*/

::placeholder {color: #ccc;}

/* COMMON CLASSES
------------------------------------*/

/* DISPLAY
----------------------------------------------*/

.DN {display: none;}

.DB {display: block;}

.DIB {display: inline-block;}

/*Display flex the default flex display is row
----------------------------------------------*/

.FRD {
  /*This class will display flex childs in a row*/
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.FCD {
  /*This class will display flex childs in a Column*/
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* TYPOGRAPHIE
----------------------------------------------*/

.FW-500 {
  font-weight: 500;
  font-size: 1.02em;
}

.FW-900 {font-weight: 900;}

.UPP {text-transform: uppercase;}

.AC {text-align: center;}

/* MARGINS
----------------------------------------------*/

.MT-1 {margin-top: 1em;}

.MT-2 {margin-top: 2em;}

.MT-3 {margin-top: 3em;}

.MB-1 {margin-bottom: 1em;}

.MB-2 {margin-bottom: 2em;}

.MB-3 {margin-bottom: 3em;}

.ML-1 {margin-left: 1em;}

.MR-1 {margin-right: 1em;}


.MX-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Horizontal line for all pages
----------------------------------------------*/

.hr-1 {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.hr-1:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

/* PADDINGS
---------------------------------------------*/

.PT-1 {padding-top: 1em;}

.PT-125 {padding-top: 1.25em;}

.PT-150 {padding-top: 1.50em;}

.PT-2 {padding-top: 2em;}

.PB-1 {padding-bottom: 1em;}

.PB-125 {padding-bottom: 1.25em;}

.PB-150 {padding-bottom: 1.50em;}

.PB-2 {padding-bottom: 2em;}

.PX-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.PY-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

/*  Icon Moon size
---------------------------------------*/

.IS1EM::before {
  font-size: 1em;
}

.IS2EM::before {
  font-size: 2em;
}

.IS3EM::before {
  font-size: 3em;
}
/* LAYOUT --> COMMON ELEMENTS
===================================================================================*/

/* Body
-----------------------------------------*/
#index {
  width: 100%;
}

/* containers
----------------------------------------------*/
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
#header {
  grid-column: 1/5;
  grid-row: 1/2;
  height: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 10px 10px;
  padding-right: 2em;
  z-index: 1000;
}
#banner {
  grid-column: 1/5;
  grid-row: 2/3;
  height: 400px;
}
#aside {
  grid-column: 1/2;
  grid-row: 3/5;
  width: 200px;
}
#main {
  grid-column: 2/5;
  grid-row: 3/4;
}
#news {
  grid-column: 2/5;
  grid-row: 4/5;
}
#events {
  grid-column: 1/5;
  grid-row: 5/6;
}
#membership {
  grid-column: 1/3;
  grid-row: 6/7;
  background-color: blueviolet;
}
#about-us {
  grid-column: 3/5;
  grid-row: 6/7;
  background-color: gold;
}
#footer {
  grid-column: 1/5;
  grid-row: 7/8;
  background-color: black;
}

/* Header
----------------------------------------------*/
#logo {
  min-width: 120px;
}
#logo img {
  height: 50px;
}
#nav {
  min-width: 390px;
  align-self: flex-end;
}
#social {
  min-width: 120px;
  align-self: flex-end;
}
#nav a:hover {
  color: white;
  background-color: black;
  border-bottom: 1px double white;
}
/* Banner
----------------------------------------------*/
#banner {
  position: relative;
  min-height: 100vh;
  padding: 6em 0;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: #fff;
}
#er-flag, #ch-flag {
  position: absolute;
  top: 0px;
  width: 100px;
}
#er-flag {
  left: -120px;
  animation: loop1 5s infinite;
  opacity: .5;
}
#ch-flag {
  right: -120px;
  animation: loop2 5s infinite;
  opacity: .5;
}
@keyframes loop1 {
  0% {top: 0px; left: 0px}
  99.9% {top: 200px;left: 46%;}
  100% {top: 200px;left: 100%;}
}
@keyframes loop2 {
  0% {top: 0px; right: 0px}
  99.9% {top: 200px;right: 46%;}
  100% {top: 200px;right: 100%;}
}

#inner {
  width: 300px;
  background-color: rgba(0, 0, 0, .4);
}

#banner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}

#banner h2 {
  border-bottom: solid 2px;
  border-top: solid 2px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.15em;
  position: relative;
  text-transform: uppercase;
}

/*asaid
---------------------------------*/
#aside a {
  line-height: 2em;
  font-size: 1.5em;
  padding-left: 1em;
}
#aside a:hover {
  color: white;
  background-color: black;
  border-bottom: 1px double white;
}

/* Breaking new section or main
=============================================*/
#b-img {
  position: relative;
  width: 100%;
  border: 1px solid red;
}
#b-img h3 {
  position: absolute;
  top: 2%;
  left: 0px;
  color: white;
  background-color: rgba(0, 0, 0, .4)
} 
#b-img h3:hover {
  background-color: rgba(0, 0, 0, 1);
} 
.sideline::before, .sideline::after {
  content: '';
  border-bottom: 2px solid green;
  display: inline-block;
  width: 100px;
}

/* News
=============================================*/
.inner-news {
  width: 300px;
  background-color: aliceblue;
  border-radius: 5px;
}
.inner-news .footer {
  background: #ddd;
}
#news-section p:hover {
  background-color: rgba(0, 0, 0, .4);
  color: white;
}
/*events
---------------------------------*/
#events li {
  width: 300px;
  height: 400px;
  background-color: antiquewhite;
  border-radius: 20px;
}
#events .photo {
  width: 300px;
  height: 200px;
}
#events .inner {
  width: 300px;
  height: 150px;
}
#events .photo img {
  width: 280px;
  height: auto;
  border-radius: 5px;
}
#events h3::after {
  content: "";
  display: block;
  width: 90px;
  border-bottom: 2px solid #e0a156;
}
#events ul li:nth-child(even) {
  flex-flow: column-reverse;
}



/*index page header
---------------------------------*/


/*index page banner
---------------------------------*/


/*index page main content
---------------------------------*/

/*-------page news
-----------------------------*/

/*------events
--------------------------------------*/

/*----contact
--------------------------------------------*/

#c-wrapper, #c-address, #c-form, #c-socail, #c-form > div {
  min-width: 650px;
}
#c-wrapper {
  padding-left: 1em;
  border: #e0a156 1px double;
}
.BS-45P {
  display: block;
  min-width: 300px;
}

.BS-30P {
  display: block;
  min-width: 200px;
}

#c-msg {
  min-width: 650px;
}

#c-submit {
  min-width: 100px;
  height: 30px;
  align-self: center;
}

.c-group {
  min-width: 310px;
  justify-content: space-around;
}
/*=========Membership page
=======================================*/
.W-100P {
  width: 100%;
}
#membership label {
  display: none;
}

/* MEDIA QUESRY
==============================================*/

/* @media only screen and (max-width: 740px) {
  #header {
    flex-flow: column;
  }
  #logo img {
    width: 60px;
  }
  #nav li a {
    padding: 0px;
  }
  
} */

@media only screen and (max-width: 850px) {
  #header #social {
    display: none;
    
  }
  #container {
    grid-template-columns: 1fr;
  }
  #header {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
  }
  #banner {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 400px;
  }
  #main {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #news {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #events {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #membership {
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: blueviolet;
  }
  #about-us {
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: gold;
  }
  #aside {
    grid-column: 1/2;
    grid-row: 8/9;
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  #footer {
    grid-column: 1/2;
    grid-row: 9/10;
    background-color: black;
  }
}
@media only screen and (max-width: 685px) {
  #header {
    height: auto;
    flex-flow: column;
  }
  #logo img {
    width: 120px;
  }
}
@media only screen and (max-width: 571px) {
  #header {
    flex-flow: column;
    justify-content: flex-end;
  }
  #nav {
    width: 100%;
  }
  #nav ul {
    background-color: #ddd;
    flex-flow: column;
  }
  #nav ul a {
    display: block;
    width: 100%;
    padding: 0.5em;
  }
}